
  nav {

    display: flex;
    justify-content: end;
    align-items: center;
    
}

#browse, #races, #raceResults {
  display: none;
}

 a {
  text-decoration: none;
 }
  :root {

    --blue: rgb(143, 168, 192);
    --white: #efdaf8;
    --purple: #e7bcfc;
    --darkBlue: #2b66b4;
    --darkerBlue: rgb(27, 34, 78);
    --darkpurple: rgb(45, 21, 83);
    --lightblue: rgb(229, 198, 247);
    --black: rgb(0, 0, 0);

  }
main h2 {
  text-align: center;
}

main {

    background-color: var(--white);
}

header {

    height: 50px;
    padding: 20px;
    background-color: var(--blue)
    
}
#home {
  margin-left: 20px;
}
section h1  {

    font-size: 2rem;
    text-align: center;
    
}

#banner {

    text-align: center;
    padding: 1%;
    background-color: var(--darkBlue);
    margin-bottom: 2%;
    
}
select {
  margin: 30px;
}
body {

    background-color: var(--white);
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;   
    font-size: 1rem;
    font-family: 'Gideon Roman', cursive,'Open Sans',  sans-serif, "Times New Roman", Times, serif ;
    
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    text-align: center;
}

.navLink {
  
    height: fit-content;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--darkerBlue);
    color: var(--white);
    width:fit-content;
    padding: 5px 15px;
    margin: 0px 5px 0px 5px;
    border-radius: 50px;
}

a:hover {
    background-color: var(--white);
    color: var(--darkpurple);
  
}
.sort {
 text-decoration: underline;
 font-weight: bold;
}
label {
  margin-left: 30px;
}

img[id="logo"] {

    border: 2px solid;
    border-color: var(--darkpurple);
    float: left;
}

:focus {
  box-shadow: 2px 2px 3px 2px inset rgba(175, 174, 174, 0.8);

    
    background:var(--white);
    color:var(--black);
    
    }

  dialog:focus {
    box-shadow: none;
    background-color: var(--white);
    color:var(--black);
  }
.footer-links {
    color: var(--lightblue);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
    display: flex;
    justify-content: center;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--darkpurple);
    color: var(--white);
    text-align: center;
  }
dialog button {
  margin: 1px;
  
}

button {
  font-weight: bold;
}

aside {
  width: 350px;
  
  height: fit-content;
  background-color: white;
  padding: 10px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 5px;
}
a:focus {
  box-shadow: none;
  background-color: var(--white);
  color:var(--darkpurple);
 
}
dialog a:focus {
  box-shadow: none;
  background-color: white;
  color:var(--darkpurple);
 
}
aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
aside ul li {
  text-decoration: underline;
  
}
td:nth-child(odd) {
  background-color: var(--lightblue);
}
.circuit, .driver, .constructor {
  font-weight: bold;
}
aside ul li button {
  margin-left: 10px;
  
}
#raceItem {
  background-color: var(--darkBlue);
  
  padding-top: 5px;
}
#raceItem h3 {
  background-color: var(--lightblue);
  margin: auto;
  width: fit-content;
  padding: 5px;
  border-radius: 20px;
}
#raceItem div {
  background-color: #bdd1f7;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}
#raceItem div a {
  text-decoration: underline;
}
.dialButtons {
  display: inline-flex;
  justify-content: end;
 width: 100%;
  padding: 0px;
  border: 1px solid var(--darkpurple);
  border-radius: 5px;
  background-color: var(--blue);
}
.dialogDiv {
  display: inline-flex;
  padding: 0px;

}
dialog h2 {
  background-color: var(--blue);
  border: 1px solid var(--darkpurple);
  border-radius: 5px;
}
dialog div {
padding: 20px;
  background-color: white;
  border: 1px solid var(--darkpurple);
}
#ignore {
  border: none;
  padding: 10px;
}
caption {
  font-weight: bold;
}
dialog {
  background-color: var(--white);
  width: fit-content;
}
.dialTable {
  max-height: 400px;
  overflow: scroll;
  background-color: var(--white);
  border: 1px solid black;
  margin: 10px;
}

#raceStuff {
  display: inline-flex;
  
}
table {
  margin: 20px;
  padding: 5px;

}

td {
  background-color: white;
  padding: 5px;
  margin: 2px;
  justify-content: center;
  border: 1px solid #2b66b4;
}
.top3 {

  display: inline-flex;
  padding: 10px;
}
.top3 {
  position: relative;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
 
}

.top3 img { 
  width: 150px;
  height: auto;
  opacity: 0.3;
  border: 1px solid var(--darkpurple);
  border-radius: 25px;
}