
fieldset {

    border:  solid rgb(28, 19, 68);
    font-weight: bold;
    
}
main {
    padding: 2%;
    
}
form {

    float: right;
    width: 35%;
    margin-bottom: 3%;
    
}

:required {

    border: 2px solid rgb(189, 33, 33);
}

button, #reset {

    font-weight: bold;
    background-color: rgb(27, 34, 78);
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    cursor:pointer;
  }

  article {

      float:left;
      width: 63%;
      
  }
  table {
      
      text-align: center;
      border: solid black;
      margin-top: 2%;
  }
  table caption {
      
      font-weight: bold;
  }

  tr:nth-child(odd) {

      background-color: rgb(117, 190, 166);
  }
  table td, table th {

    border: 1px solid black;
}
section {

    float: left;
    width: 60%;
}
