/*Small Screens*/
@media only screen and (max-width: 799px) {
  nav {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

  .grid-container {
  
    display: grid;
    gap: 15px;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 2%;
    
  }
  .grid-item {

    padding: 2%;
    background-color: var(--purple);
  }
}

/*Medium Screens*/
@media only screen and ( min-width: 800px) {

  .columnspan {

    grid-column: 1/3;
  }
 
  nav {

    display: flex;
    justify-content: end;
    align-items: center;
    
}


  .grid-container {
  
    display: grid;
    width: 80%;
    gap: 15px;
    margin-left: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: 2%;
    
  }
  .grid-item {

    padding: 2%;
    background-color: var(--purple);
  }
}

  /*General Styling for all viewports*/
  :root {

    --blue: rgb(143, 168, 192);
    --white: rgb(233, 233, 233);
    --purple: #e7bcfc;
    --darkBlue: #2b66b4;
    --darkerBlue: rgb(27, 34, 78);
    --darkpurple: rgb(45, 21, 83);
    --lightblue: rgb(0, 255, 255);

  }
main h2 {
  text-align: center;
}

main {

    background-color: var(--white);
}

header {

    height: 100px;
    padding: 20px;
    background-color: var(--blue)
    
}

section h1  {

    font-size: 2rem;
    text-align: center;
    
}

#banner {

    text-align: center;
    padding: 1%;
    background-color: var(--darkBlue);
    margin-bottom: 2%;
    
}

body {

    background-color: var(--white);
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;   
    font-size: 1rem;
    font-family: 'Gideon Roman', cursive,'Open Sans',  sans-serif, "Times New Roman", Times, serif ;
    
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    text-align: center;
}

.navLink {

    height: 20px;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--darkerBlue);
    color: var(--white);
    width:fit-content;
    padding: 5px 15px;
    margin: 0px 5px 0px 5px;
    border-radius: 50px;
}

a:hover {
    background-color: var(--white);
    color: var(--darkpurple);
  
}



img[id="logo"] {

    border: 2px solid;
    border-color: var(--darkpurple);
    float: left;
}

:focus {

    outline:3px solid var(--lightblue);
    background:var(--white);
    color:var(--darkpurple);
    
    }
.footer-links {
    color: var(--lightblue);
}
footer {
    
    display: flex;
    justify-content: center;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--darkpurple);
    color: var(--white);
    text-align: center;
  }

.gridImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
img:hover {
    transition: 1s;
    transform: scale(2,2);
}
h1, h2, h3 {
  text-align: center;
}

.skip {
  position: absolute;
  left: -1993px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}